.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #000022;
}

/* Contenedor navbar */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0; 
    margin: 0;  
}

.logo {
    height: 100px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/* Perfil del profesor */
.perfilProfe {
    display: flex;
    align-items: center;
    gap: 20px;
}
    
    /* Estilo para la imagen del perfil */
.foto-perfilProfe {
    background-color:rgb(128, 128, 128);
    width: 100px;
    height: 100px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.095); /* Sombra interior */
    border-radius: 50%;
}

.btn-secondary {
    background-color: #416788;
    border-color: #416788;
    color: #E0E0E2;
}

.btn-secondary:hover {
    background-color: #B5BAD0;
    border-color: #B5BAD0;
    color: #E0E0E2;
}

.navbar-buttons {
    display: flex;
    gap: 1rem; /* Espacio entre botones */
}